* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins','Josefin Sans', sans-serif;
}

.navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    padding: 0.5rem;
}

.nav-links {
    list-style: none;
    display: none;
}

.nav-link {
    margin: 0 16px;
}

.nav-link, .nav-brand {
    text-decoration: none;
    color: #fffffd;
}

.nav-links li {
    text-align: center;
    margin: 15px 0px; 
}

.nav-brand {
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    color: #fffffd;
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {

    .navbar-toggle{
        display: none;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .nav-links {
        display: flex;
    }

    .nav-link {
        padding: 0.5rem;
    }

    .nav-link:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}