*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}

body{
	background-color: black;
}

h1{

	color: white;
	line-height: 100vh;
	text-align:center;
	height:100vh;
}

span{
	opacity: 0;
	transition: all 1s ease;
}

span.fade{
	opacity: 1;
}
