@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    min-height: 100vh;
}


.left-grid, .right-grid {
    padding: 5rem;
}

.left-grid {
    background-color: blueviolet;
    color: white;
    display: flex;
    flex-direction: column;
}

.text-primary{
    color: blueviolet !important;
}

.right-grid {
    background-color:white;
    display: flex;
    flex-direction: column;
}

.form, .company {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-heading, .company-heading{
    flex:3;
}

.form-body, .company-description {
    flex: 7;
    align-self: center;
}

.form-heading, .form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company-heading{
    display: flex;
    align-items: center;
}

.company-description{
    display: flex;
    align-items: center;
}
input[type=text], input[type=password] {
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.button {
    background-color: blueviolet;
    color: white;
    border: 0;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    width: 100%;
}

.button:hover {
    cursor: pointer;
    background-color: rgba(137, 43, 226, 0.548);
}

@media (max-width:576px){

    .grid-container {

        display: flex;
        flex-direction: column;
        height: 100vh;
        min-height: 100vh;
    }

    .left-grid, .right-grid {
        padding: 2rem;
        min-height: 100vh;
    }
    
}